:root{
    --width_pixel_war: 100px;
    --height_pixel_war: 100px;
    --height_header: 100px;
}

/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

body {
    margin: 0;
    background-color: #171717;
    z-index: -3;
    position: relative;
}

header {
	font-family: 'Roboto';
    position : relative;
    margin : 10px 10px 10px 10px;
    background: rgb(122,14,62);
    background: linear-gradient(90deg, rgb(75, 13, 40) 0%, rgba(32,32,32,1) 100%);
    border-radius: 15px;
    z-index: 2;
    height: var(--height_header);
    font-size: clamp(10px, 2vw, 20px);
}

.lien {
    margin: auto 1em;
    z-index: 1;
}

.logo-link{
    margin-left: auto;
    filter: brightness(1.2);
}

.lien:not(.logo-link){
    text-decoration: inherit;
    border-color: #ffffff;
    padding: 0.6em 1em;
    cursor: pointer;
    color: #ffffff;
    background-image: linear-gradient(45deg, transparent 50%, #000000 50%);
    background-position: 25%;
    background-size: 500%;
    -webkit-transition: background 400ms ease-in-out, color 400ms ease-in-out;
    transition: background 400ms ease-in-out, color 400ms ease-in-out;
    border-radius: 10px;
}
  
.lien:hover:not(.logo-link) {
    color: #ffffff;
    background-position: 100%;
}

.main-body {
    font-family: 'Roboto';
    min-width: 40%;
    max-width: 70%;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px; 
    font-size: 20px;
    color: #f0f0f0;
    text-align: center;
}

.menu-links{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    height: var(--height_header);
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.form input {
    margin: 15px auto; 
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.form button{
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 15px;
    margin: 15px auto;
    cursor: pointer;
    color: #ffffff;
    transition: .4s ease-in;
    font-size: 1em;
    background-color: rgb(75, 13, 40);
}

.form button:hover{
    background-color: rgb(132,21,69);
}

.form_white_square{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.form_white_square input {
    margin: 10px auto; 
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.form_white_square button{
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    margin: 15px auto;
    cursor: pointer;
    color: #ffffff;
    transition: .4s ease-in;
    font-size: 1em;
    background-color: rgb(75, 13, 40);
}

.form_white_square button:hover{
    background-color: rgb(132,21,69);
}

.error-container {
    font-family : 'Roboto';
    display: flex;
    width: 100%;
    margin-bottom: 15px; /* Add margin-bottom to create space between error message and password input */
    justify-content: flex-end;
    align-items: center;
    height: 30vh;
    flex-direction: column;
}

.error-container p {
    font-size: 30px;
    color: red;
    margin: 0;
    padding: 0;
}
.pixel_war_body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px auto 35px auto;
    z-index: -1;
    position: relative;
}

.pixel_war_body_admin {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 30px;
    z-index: -2;
    position: relative;
}

.pixel_war{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: -3;
    
}

#pixel_war {
    width: var(--height_pixel_war); 
    height: var(--height_pixel_war);
    z-index: -2;
    image-rendering: pixelated;
}

.bottom_bar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap-reverse;
}

#scaleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
    margin: 0px 10px;
    cursor: pointer;
    color: #ffffff;
    transition: .4s ease-in;
    font-size: 16px;
    background-color: rgb(75, 13, 40);
}

#scaleButton:hover {
    background-color: rgb(132,21,69);
}

#colorButtons {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.colorButton.selected {
    border: 3px solid rgb(0, 255, 179);
}

.user-information{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;/*
    transform: translate( 0, -120%);*/
    z-index: 2; 
    background: rgb(77, 64, 70);
    border-radius: 10px;
    padding: 0.4em 0.4em;
    text-align: center;
}

.user-information p {
    font-family: "Roboto";
    font-size: 17px;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.timer-div{
    margin: 0 5px;
}

.timer-div p {
    color : green;
}

.position-div{
    margin: 0 5px;
}

#uploadColorButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
    margin: 0px 10px;
    cursor: pointer;
    color: #ffffff;
    transition: .4s ease-in;
    font-size: 16px;
    background-color: rgb(75, 13, 40);
}

#uploadColorButton:hover {
    background-color: rgb(132,21,69);
}

#refreshButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
    margin: 0px 10px;
    cursor: pointer;
    color: #ffffff;
    transition: .4s ease-in;
    font-size: 16px;
    background-color: rgb(75, 13, 40);
}

#refreshButton:hover {
    background-color: rgb(132,21,69);
}

.pixel_war_body_viewing {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: -2;
    position: relative;
}